#main_heading {

    color: whitesmoke;
    text-align: center;

}

#src_code_description_table, #src_code_description_table td, #src_code_description_table th {

    color: whitesmoke;
    border:solid 1px rgb(100, 100, 100);
    border-collapse: collapse;
    font-size: 17px;
}

#src_code_description_table {
    
    margin-left: auto;
    margin-right: auto;
    
}

.filename {
    color: #3feb8a;
}

.filename:hover {
    color:rgb(33, 134, 33);
    transition-property: color;
    transition-duration: 0.5s;
}

code {

    background-color: rgb(49, 51, 56);
    border-radius: 5px;
    padding: 3px;
    color: rgb(0, 255, 242);

}

body {

    font-family: Arial, sans-serif;
    background-color: rgb(30, 31, 34);

}